  $primary:   #E92569 ;
  $secondary: #0A0A0A;
  $dark: #EFEFEF;
  $navbar-dark-hover-color:$primary;
  $pagination-border-color:$primary;
  $input-border-color:transparent;
  $form-check-input-bg: $primary;
  $form-check-input-border:none;
  $success:#767676;
  $font-family-base: "Lato", sans-serif ;
  $headings-font-family:"Playfair Display", sans-serif;
